*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container {
    height: 100vh;
    width: 100%;
    background-image: url(/Users/sarthak/Desktop/Txon/TXON_01/pexels-photo-3917840.jpeg);
    background-position: center;
    background-size: cover;
    padding-right: 3%;
    padding-left: 5%;
    box-sizing: border-box;
    position: relative;
}
.header {
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo {
    width: 120px;
    margin-top: 0px;
    cursor: pointer;
}
nav {
    flex: 1;
    padding-left: 150px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 15px;
}
nav ul li a {
    text-decoration: none;
    color: rgb(253, 252, 252);
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
}

.btn:hover {
    box-shadow: 3px 8px 22px rgba(38, 32, 35, 0.15);
    transform: scale(1.1);
    transition: .2s ease-in-out;
}
.content {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.content .text {
    position: relative;
    max-width: 560px;
}
.content .text h1 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 50px;
    line-height: 1.5em;
    letter-spacing: .1em;
    font-size: 40px;
    color: rgb(20, 19, 19);
}
.content .text h2 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 30px;
    line-height: 1.5em;
    letter-spacing: .1em;
    font-size: 40px;
    color: rgb(20, 19, 19);
}
.content .text h3 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
    line-height: 1.5em;
    letter-spacing: .1em;
    font-size: 30px;
    color: rgb(233, 21, 21);
}
.content .text h1 span {
    font-size: 40px;
}
.content .text p {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: .1em;
    margin-top: 30px;
    color: #f8f6f6;
 }
.btn3 {
    background: linear-gradient(to bottom, #0f0f0f 2%, #151515 100%);
    margin-top: 35px;
    margin-left: 95px;
    padding: 15px 30px;
    text-align: center;
    transition: .5s;
    border: none;
    outline: none;
    text-transform: uppercase;
    color: #f40c0c;
    font-size: 30px;
    font-weight: 700;
    border-radius: 100px;
    box-shadow: 1px 4px 12px rgba(94,28,68,.15);
}
.pepsi {
    display: flex;
    height: 100%;
    position: absolute;
    width: 600px;
    margin-top: 80px;
    padding-left: 440px;
    justify-content: flex-end;
}